<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

  <!-- firebase section -->
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCTNzgmwuopaaujKffrDm3ukKOuejduuvE",
      authDomain: "gpstest-189609.firebaseapp.com",
      databaseURL: "https://gpstest-189609.firebaseio.com",
      projectId: "gpstest-189609",
      storageBucket: "gpstest-189609.appspot.com",
      messagingSenderId: "364643438193"
    };
    firebase.initializeApp(config);
  </script>
  <!-- end firebase section -->

  <style>
    #map {
      width: 600px;
      height: 400px;
    }

    body {
      background-color: LightGray;
    }

    .table {
      &.is-scrollable {
        tbody {
          overflow-y: scroll;
          width: auto;
          position: absolute;
        }
      }
    }
  </style>
</head>
