<!DOCTYPE html>
<html>
  <title>Viewer</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <!-- firebase section -->
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDj6WXaRE-tDGmlHnSg6Plwz4i_ffeFm2g",
        authDomain: "gpsproject02-f32b5.firebaseapp.com",
        databaseURL: "https://gpsproject02-f32b5.firebaseio.com",
        projectId: "gpsproject02-f32b5",
        storageBucket: "gpsproject02-f32b5.appspot.com",
        messagingSenderId: "398218790567"
      };
      firebase.initializeApp(config);
    </script>
    <!-- end firebase section -->

    <style>
      #map {
        width: 600px;
        height: 400px;
      }

      body {
        background-color: LightGray;
      }

      .table {
        &.is-scrollable {
          tbody {
            overflow-y: scroll;
            width: auto;
            position: absolute;
          }
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title">Center</h1>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Viewer</a>
            <a class="navbar-item" href="/logging">Logging</a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item" href="#">Logout</a>
          </div>
        </div>
      </nav>
      <br>
      <section class="section">
        <div class="container">
          <div class="columns is-desktop is-offset-1">
            <div class="column is-8">

              <!-- Google map embed -->
              <div class="box has-text-centered">
                <div id="map"></div>
              </div>

              <!-- Mission status -->
              <div class="columns is-desktop ">

                <!-- Mission complete column -->
                <div class="column is-narrow">
                  <div class="box">
                    <label>Mission Complete</label>

                    <!-- AT001, CT208 columns -->
                    <div class="columns">
                      <div class="column">
                        <div class="columns">
                          <div class="column" v-if="mission_signal.at001.mis_com == 'True'">
                            <figure class="image is-32x32">
                              <img v-bind:src="[green_circle]">
                            </figure>
                          </div>
                          <div class="column" v-else>
                            <figure class="image is-32x32">
                              <img v-bind:src="[gray_circle]">
                            </figure>
                          </div>
                          <div class="column">
                            <p>AT001</p>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="columns">
                          <div class="column" v-if="mission_signal.ct208.mis_com == 'True'">
                            <figure class="image is-32x32">
                              <img v-bind:src="[green_circle]">
                            </figure>
                          </div>
                          <div class="column" v-else>
                            <figure class="image is-32x32">
                              <img v-bind:src="[gray_circle]">
                            </figure>
                          </div>
                          <div class="column">
                            <p>CT208</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- ST072, WT988 columns -->
                    <div class="columns">
                      <div class="column">
                        <div class="columns">
                          <div class="column" v-if="mission_signal.st072.mis_com == 'True'">
                            <figure class="image is-32x32">
                              <img v-bind:src="[green_circle]">
                            </figure>
                          </div>
                          <div class="column" v-else>
                            <figure class="image is-32x32">
                              <img v-bind:src="[gray_circle]">
                            </figure>
                          </div>
                          <div class="column">
                            <p>ST072</p>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="columns">
                          <div class="column" v-if="mission_signal.wt988.mis_com == 'True'">
                            <figure class="image is-32x32">
                              <img v-bind:src="[green_circle]">
                            </figure>
                          </div>
                          <div class="column" v-else>
                            <figure class="image is-32x32">
                              <img v-bind:src="[gray_circle]">
                            </figure>
                          </div>
                          <div class="column">
                            <p>WT988</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- SOS column -->
                <div class="column is-narrow">
                  <div class="box">
                    <label>SOS</label>

                    <!-- AT001, CT208 columns -->
                    <div class="columns">
                      <div class="column">
                        <div class="columns">
                          <div class="column" v-if="mission_signal.at001.sos == 'True'">
                            <figure class="image is-32x32">
                              <img v-bind:src="[orange_circle]">
                            </figure>
                          </div>
                          <div class="column" v-else>
                            <figure class="image is-32x32">
                              <img v-bind:src="[gray_circle]">
                            </figure>
                          </div>
                          <div class="column">
                            <p>AT001</p>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="columns">
                          <div class="column">
                            <figure class="image is-32x32">
                              <img src="http://www.clker.com/cliparts/a/4/2/3/12428064951741648425Silver_circle.svg.med.png">
                            </figure>
                          </div>
                          <div class="column">
                            <p>CT208</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- ST072, WT988 columns -->
                    <div class="columns">
                      <div class="column">
                        <div class="columns">
                          <div class="column">
                            <figure class="image is-32x32">
                              <img src="http://www.clker.com/cliparts/a/4/2/3/12428064951741648425Silver_circle.svg.med.png">
                            </figure>
                          </div>
                          <div class="column">
                            <p>ST072</p>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="columns">
                          <div class="column">
                            <figure class="image is-32x32">
                              <img src="http://www.clker.com/cliparts/a/4/2/3/12428064951741648425Silver_circle.svg.med.png">
                            </figure>
                          </div>
                          <div class="column">
                            <p>WT988</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Boardcast column -->
                <div class="column has-text-centered">
                  <br>
                  <button v-on:click="broardcast_clicked" class="button is-danger" type="button" name="button">Broardcast</button>
                  <br>
                  <h3>Go to</h3>
                  <button v-on:click="at001_clicked" class="button" type="button" name="at001-btn">AT001</button>
                  <button v-on:click="ct208_clicked" class="button" type="button" name="ct208-btn">CT208</button>
                  <button v-on:click="st072_clicked" class="button" type="button" name="st072-btn">ST072</button>
                  <button v-on:click="wt988_clicked" class="button" type="button" name="wt988-btn">WT988</button>
                </div>
              </div>
            </div>

            <!-- Operation User -->
            <div class="column is-center">
              <div class="box">
                <p class="title">Operation User</p>
                <div class="columns is-desktop">
                  <div class="column">
                    <figure class="image is-4by2">
                      <img src="https://www.wallstreetotc.com/wp-content/uploads/2014/10/facebook-anonymous-app.jpg">
                    </figure>
                    Codename C208
                    <br>
                    <br> First name
                    <br> Last name
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> ESS percentage
                    <br> 100
                    <br> Operation Time
                    <br> 9000
                  </div>
                  <div class="column">
                    <figure class="image is-3by2">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_Thailand.svg/255px-Flag_of_Thailand.svg.png">
                    </figure>
                    <br>
                    <p>Nationality</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
      <script>
        // google map section
        var map;
        var at001_marker;
        var ct208_marker;
        var st072_marker;
        var wt988_marker;

        var marker_icons = {
          at001: {
            gray: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/at001_gray.png?alt=media&token=1f9dfbe0-7eb3-4435-8c86-f3a32ac0fdd0',
            green: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/at001_green.png?alt=media&token=93c01d37-0449-47e3-8a8a-a1001c406d84',
            orange: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/at001_orange.png?alt=media&token=975c5cb0-c093-42be-bb91-aa620b64bd70',
          },
          ct208: {
            gray: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/ct208_gray.png?alt=media&token=87541638-9f17-4082-8470-a72ceb18345e',
            green: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/ct208_green.png?alt=media&token=c0c2ebfd-394f-4841-9dfd-edae4c9e9336',
            orange: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/ct208_orange.png?alt=media&token=eb8ce2d4-32e2-428f-a815-62c7144a746a',
          },
          st072: {
            gray: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/st072_gray.png?alt=media&token=34d655f4-469b-46b5-9be2-bcda40f02f00',
            green: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/st072_green.png?alt=media&token=cdf87a1f-b6f1-4e8f-8d85-a5e73c33d390',
            orange: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/st072_orange.png?alt=media&token=3879ff3e-ee9e-4e3f-a789-b96e51481a89',
          },
          wt988: {
            gray: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/wt988_gray.png?alt=media&token=5c1de617-0ccb-4f84-89ee-844a4133d086',
            gree: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/wt988_green.png?alt=media&token=6f9889ad-f948-476b-a024-43c2a9a9965f',
            orange: 'https://firebasestorage.googleapis.com/v0/b/gpstest-189609.appspot.com/o/wt988_orange.png?alt=media&token=e1724843-a248-4e2e-81cd-dc21314738c6',
          }
        };

        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 19,
            center: new google.maps.LatLng(13.819623, 100.579388),
            mapTypeId: 'roadmap'
          });

          var features = [
            {
              position: new google.maps.LatLng(13.819623, 100.579388),
              type: 'at001'
            }, {
              position: new google.maps.LatLng(13.819732, 100.579489),
              type: 'ct208'
            }, {
              position: new google.maps.LatLng(13.819841, 100.579590),
              type: 'st072'
            }, {
              position: new google.maps.LatLng(13.819950, 100.579691),
              type: 'wt988'
            }
          ];

          // Set marker each other
          at001_marker = new google.maps.Marker({
            position: features[0].position,
            icon: marker_icons[features[0].type].gray,
            map: map
          });
          ct208_marker = new google.maps.Marker({
            position: features[1].position,
            icon: marker_icons[features[1].type].gray,
            map: map
          });
          st072_marker = new google.maps.Marker({
            position: features[2].position,
            icon: marker_icons[features[2].type].gray,
            map: map
          });
          wt988_marker = new google.maps.Marker({
            position: features[3].position,
            icon: marker_icons[features[3].type].gray,
            map: map
          });

        }

        // database url
        var dataURL = 'http://localhost:8000/datalog';

        // set mission signal when changing
        function mission_signal_changing (snap, marker, mission_code) {
          if (snap.mis_com != app.mission_signal[mission_code].mis_com){
            if (snap.mis_com == "True") {
              marker.setIcon(marker_icons[mission_code].green);
            } else if (snap.sos == "True") {
              marker.setIcon(marker_icons[mission_code].orange);
            }
            app.mission_signal[mission_code].mis_com = snap.mis_com;
          }

          if (snap.sos != app.mission_signal[mission_code].sos) {
            if (snap.sos == "True") {
              marker.setIcon(marker_icons[mission_code].orange);
            } else if (snap.mis_com == "True") {
              marker.setIcon(marker_icons[mission_code].green);
            }
            app.mission_signal[mission_code].sos = snap.sos;
          }

          if (snap.mis_com == "False" && snap.sos == "False") {
            marker.setIcon(marker_icons[mission_code].gray);
          }
        }

        // firebase mission signal query section
        var mission_sinal_query = firebase.database().ref("mission_signal").orderByKey();
        mission_sinal_query.on("value", function(snapshot) {
          mission_signal_changing(snapshot.val().AT001, at001_marker, "at001");
          mission_signal_changing(snapshot.val().CT208, ct208_marker, "ct208");
          mission_signal_changing(snapshot.val().ST072, st072_marker, "st072");
          mission_signal_changing(snapshot.val().WT988, wt988_marker, "wt988")

        }, function(errorObject) {
          console.log("The resad fialed: " + errorObject.code)
        });

        var get_last_at001 = firebase.database().ref("datalog/AT001").orderByKey();
        get_last_at001.limitToLast(1).on("child_added", function(snapshot) {
          console.log(snapshot.val());
          var newPosition = new google.maps.LatLng(snapshot.val().lat, snapshot.val().lon);
          at001_marker.setPosition(newPosition);
        }, function (errorObject) {
          console.log("The resad fiald: " + errorObject.code);
        });

        // vuejs section
        var app = new Vue({
          el: '#app',
          data: {
            green_circle: 'http://www.clker.com/cliparts/q/j/I/0/8/d/green-circle-icon-hi.png',
            orange_circle: 'http://www.clker.com/cliparts/5/X/A/Y/M/P/orange-circle-hi.png',
            gray_circle: 'http://www.clker.com/cliparts/a/4/2/3/12428064951741648425Silver_circle.svg.med.png',
            mission_signal: {
              at001:{
                mis_com: "False",
                sos: "False",
              },
              ct208:{
                mis_com: "False",
                sos: "False",
              },
              st072: {
                mis_com: "False",
                sos: "False",
              },
              wt988: {
                mis_com: "False",
                sos: "False",
              }
            },

          },
          mounted: function() {
            var self = this
            $.getJSON(dataURL, function(data) {
              self.posts = data;
              self.data_select = self.posts["datalog"]
              self.data_select = self.data_select["AT001"]
            });
          },
          methods: {
            change_local: function() {
              this.google_map_src = this.google_map0 + this.local1 + this.google_map1
            },
            at001_clicked: function() {
              map.setCenter(at001_marker.getPosition());
            },
            ct208_clicked: function() {
              map.setCenter(ct208_marker.getPosition());
            },
            st072_clicked: function() {
              map.setCenter(st072_marker.getPosition());
            },
            wt988_clicked: function() {
              map.setCenter(wt988_marker.getPosition());
            },
            broardcast_clicked: function(){
              var alert;
              var alertRef = firebase.database().ref('mission_signal/AT001/alert/');
              alertRef.on('value', function(snapshot) {
                alert = snapshot.val();
              });
              if (alert == 'True') {
                alert = 'False'
              } else {
                alert = 'True'
              }
              firebase.database().ref('mission_signal/AT001/alert/').set(alert);

            },
          },
          delimiters: ['[[', ']]']
        })
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChuf8-kRl80rZ5eL0HXL5DAcFmn5vtu8A&callback=initMap"
      async defer></script>
  </body>
</html>
