<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View</title>
     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>   
     <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <label class="title is-1">Viewer</label>
        </a>
      </div>
    </nav>
    <div id="app" class="columns">
      <div class="column is-one-fifth">
        <ol>
          <div>
            <h1 class="title">Missions</h1>
          </div>
          <mission-item
            v-for="item in missions"
            v-bind:mission="item"
            v-bind:key="item.mis_name">
          </mission-item>
        </ol>
      </div>
      <div class="column">
        <div id="current_mission_name">
          <h1 class="title is-2">
            <strong>Mission</strong>: {{ current_mission }}
          </h1>
        </div>
        <div id="mission_profile" class="columns">
          <div id="mission_status" class="column">
            <div class="columns">
              <div class="column">
                <strong>Mission Complete</strong>: {{ missions[current_mission-1].signals.mis_com }}
              </div>
              <div class="column">
                <strong>SOS</strong>: {{ missions[current_mission-1].signals.sos }}
              </div>
            </div>
          </div>
          <div id="alert" class="column">
            <button v-on:click="update_alert" class="button is-danger">Alert</button>
          </div>
        </div>
        <div id=map> 
        </div>
      </div>
    </div>
  </body>
  
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDj6WXaRE-tDGmlHnSg6Plwz4i_ffeFm2g",
      authDomain: "gpsproject02-f32b5.firebaseapp.com",
      databaseURL: "https://gpsproject02-f32b5.firebaseio.com",
      projectId: "gpsproject02-f32b5",
      storageBucket: "gpsproject02-f32b5.appspot.com",
      messagingSenderId: "398218790567"
    };
    firebase.initializeApp(config);

    Vue.component('mission-item', {
      props: ['mission'],
      methods: {
        mis_click: function (n) {
          console.log("click mission: "+n)
          this.$root.current_mission = n
        } 
      },
      template: `
      <div>
        <button
          v-on:click="mis_click(mission.mis_name)"
          class="button is-fullwidth">
          {{ mission.mis_name}}
        </button>
      </div>
      `
    })

    var app = new Vue({
      el: '#app',
      data: {
        current_pos: {lat: 0, lon: 0},
        missions: [
          {
            mis_name: 0,
            mis_data: {
              lat: 0,
              lon: 0
            },
            signals: {
              mis_com: 'False',
              sos: 'False',
              mis_alert: 'False'
            },
          },
        ],
        current_mission: 1,
        event_pos: null,
      },
      watch: {
        current_pos: function(){
          console.log(this.current_pos)
          pos = {lat: this.current_pos.lat, lng: this.current_pos.lon}
          marker.setPosition(pos)
          map.setCenter(pos)
        },
        missions: function () {
          //console.log(this.missions[current_mission-1].mis_data.lat)
        },
        current_mission: function () {
          //console.log(this.current_mission)
        },
        event_pos: function () {
          //console.log({lat:this.event_pos.lat, lon:this.event_pos.lon})
          this.missions[this.current_mission-1].mis_data.lat = this.event_pos.lat
          this.missions[this.current_mission-1].mis_data.lon = this.event_pos.lon
        },
      },
      methods: {
       update_alert: function () {
         mission = this.current_mission
         firebase_update_alert(mission)
        } 
      }
    })

    function set_new_pos() {
      new_pos = new google.maps.LatLng(
        app.current_pos.lat,
        app.current_pos.lon
      )
      return new_pos
    }

    function set_vue_mission(missions) {
      app.missions = missions
      marker.setPosition(set_new_pos())
    }

    var database = firebase.database()

//    var get_missions = database.ref("/missions")
//    get_missions.orderByValue().on('value', function (snapshot) {
//      console.log(snapshot.key)
//    })

//    var listen_child_add = database.ref('/missions/'+app.current_mission+"/data")
//    listen_child_add.limitToLast(1).on('value', function (snapshot) {
//      console.log(snapshot.val())
//    })

    var get_missions = firebase.database().ref("/missions")
    get_missions.on('value', function(snapshot) {
      mission_keys = Object.keys(snapshot.val())
      missions = []
      mission_keys.forEach(function(mission) {
        //console.log("mission_name: "+mission)
        //console.log(mission)
        last_data = get_last_mission_data(mission)
        //console.log(last_data)
        last_signal = get_last_signal(mission, snapshot.val())
        current_mission = {
          mis_name: mission,
          mis_data: {
            lat: 0,
            lon: 0
          },
          signals: {
            mis_com: 'False',
            sos: 'False',
            mis_alert: 'False'
          },
        }
        //console.log("is_currrent_mission")
        //console.log(current_mission)
        missions.push(current_mission)

      })
      //console.log('missions')
      //console.log(missions)
      set_vue_mission(missions)
    })

    function get_last_signal(mission, val) {
      return val[mission].signal 
    }

    function get_last_mission_data (mission ) {
      last_data = firebase.database().ref("/missions/"+mission+"/data/")
      last_data.limitToLast(1)
          .once("value", async function(lastshot) {
            raw = Object.values(await lastshot.val())[0]
            result = { lat: raw.lat, lon: raw.lon }
            return result
      })
    }

    var last_data = firebase.database().ref("/missions/"+app.current_mission+"/data")
    last_data.limitToLast(1)
      .on("value", function(lastshot) {
        data = Object.values(lastshot.val())[0]
        app.current_pos = {lat: data.lat, lon: data.lon} 
   })


    function firebase_update_alert(n) {
      current_alert_status = firebase.database().ref("missions/"+n+"/signal/alert")
      current_alert_status.once("value", function (snapshot) {
        u = firebase.database().ref("/missions/"+n+"/signal/")
        a = snapshot.val();
        if (a == "True") {
          a = 'False'
        }else {
          a = 'True'
        }
        u.child("alert").set(a)
      })
    }


    var map
    var marker

    function initMap() {
      var pos = {
        lat: 13.649350678,
        lng: 100.494891082
      }

      map = new google.maps.Map(
        document.getElementById('map'),
        {zoom: 19,
        center: pos}
      )

      marker = new google.maps.Marker(
        {
          position: pos,
          map: map
        }
      )
    } 
  </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChuf8-kRl80rZ5eL0HXL5DAcFmn5vtu8A&callback=initMap"
      async defer></script> 
</html>
