<!DOCTYPE html>
<html>
  <title>Logging</title>
  {{ template "header.tmpl.html" }}
  <header>
    <style>
      #tab-content table {
        display: none;
      }
      #tab-content table.is-active {
        display: block;
      }
    </style>
  </header>
  <body>
    {{ template "nav.tmpl.html" }}
    <section id="app" class="section">
      <div class="has-text-centered">
        <h1 class="title" >Logging</h1>
      </div>
      <br>
      <div id=tabs class="tabs is-toggle is-fullwidth">
        <ul>
          <li class="is-active" data-tab="1"> <a href="#">AT001</a> </li>
          <li data-tab="2"> <a href="#">CT208</a> </li>
          <li data-tab="3"> <a href="#">ST072</a> </li>
          <li data-tab="4"> <a href="#">WT988</a> </li>
        </ul>
      </div>
      <div id="tab-content">
        <table class="table is-fullwidth is-narrow is-scrollable is-active is-hoverable is-bordered " data-content="1">
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Latitude</th>
              <th>Longtitude</th>
              <th>CurrentFromElectricGenerater</th>
              <th>VoltageFromElectricGenerater</th>
              <th>CurrentFromSolaCell</th>
              <th>VoltageFromSolaCell</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="dat in at001_table">
              <th>[[ dat.date ]]</th>
              <td>[[ dat.time ]]</td>
              <td>[[ dat.lat ]]</td>
              <td>[[ dat.lon ]]</td>
              <td>[[ dat.cur_eg ]]</td>
              <td>[[ dat.volt_eg ]]</td>
              <td>[[ dat.cur_scg ]]</td>
              <td>[[ dat.volt_scg ]]</td>
            </tr>
          </tbody>
        </table>
        <table class="table is-fullwidth is-scrollable is-narrow is-hoverable is-bordered" data-content="2">
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Latitude</th>
              <th>Longtitude</th>
              <th>CurrentFromElectricGenerater</th>
              <th>VoltageFromElectricGenerater</th>
              <th>CurrentFromSolaCell</th>
              <th>VoltageFromSolaCell</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="dat in ct208_table">
              <th>[[ dat.date ]]</th>
              <td>[[ dat.time ]]</td>
              <td>[[ dat.lat ]]</td>
              <td>[[ dat.lon ]]</td>
              <td>[[ dat.cur_eg ]]</td>
              <td>[[ dat.volt_eg ]]</td>
              <td>[[ dat.cur_scg ]]</td>
              <td>[[ dat.volt_scg ]]</td>
            </tr>
          </tbody>
        </table>
        <table class="table is-fullwidth is-scrollable is-narrow is-hoverable is-bordered"  data-content="3">
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Latitude</th>
              <th>Longtitude</th>
              <th>CurrentFromElectricGenerater</th>
              <th>VoltageFromElectricGenerater</th>
              <th>CurrentFromSolaCell</th>
              <th>VoltageFromSolaCell</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="dat in st072_table">
              <th>[[ dat.date ]]</th>
              <td>[[ dat.time ]]</td>
              <td>[[ dat.lat ]]</td>
              <td>[[ dat.lon ]]</td>
              <td>[[ dat.cur_eg ]]</td>
              <td>[[ dat.volt_eg ]]</td>
              <td>[[ dat.cur_scg ]]</td>
              <td>[[ dat.volt_scg ]]</td>
            </tr>
          </tbody>
        </table>
        <table class="table is-fullwidth is-scrollable is-narrow is-hoverable is-bordered" data-content="4">
          <thead>
            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Latitude</th>
              <th>Longtitude</th>
              <th>CurrentFromElectricGenerater</th>
              <th>VoltageFromElectricGenerater</th>
              <th>CurrentFromSolaCell</th>
              <th>VoltageFromSolaCell</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="dat in wt988_table">
              <th>[[ dat.date ]]</th>
              <td>[[ dat.time ]]</td>
              <td>[[ dat.lat ]]</td>
              <td>[[ dat.lon ]]</td>
              <td>[[ dat.cur_eg ]]</td>
              <td>[[ dat.volt_eg ]]</td>
              <td>[[ dat.cur_scg ]]</td>
              <td>[[ dat.volt_scg ]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <script>
      $(document).ready(function(){
        $('#tabs li').on('click', function(){
          var tab = $(this).data('tab');

          $('#tabs li').removeClass('is-active');
          $(this).addClass('is-active');

          $('#tab-content table').removeClass('is-active');
          $('table[data-content="' + tab + '"]').addClass('is-active');
        });
      });
      var query = firebase.database().ref('datalog').orderByKey();
      query.on("value", function(snapshot){
        app.at001_table = snapshot.val().AT001;
        app.ct208_table = snapshot.val().CT208;
        app.st072_table = snapshot.val().ST072;
        app.wt988_table = snapshot.val().WT988;
      });

      var app = new Vue({
        el: '#app',
        data: {
          at001_table: {},
          ct208_table: {},
          st072_table: {},
          wt988_table: {}
        },
        delimiters: ['[[', ']]']
      });
    </script>
  </body>
</html>
