<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    {{ template "header.tmpl.html" }}
  </head>
  <body>
    <section class="section">
      <div class="box">
        <h1 class="title">LOGIN</h1>
        <form class="" action="/" method="post">
          <div class="field">
            <label class="label">Username</label>
            <div class="controll">
              <input class="input" type="text" placeholder="Username">
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">Password</label>
            <div class="controll">
              <input class="input" type="password" placeholder="Password">
            </div>
          </div>
          <br>
          <div class="field">
            <div class="controll">
              <input class="button" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
