<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1 class="title">Center</h1>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Viewer</a>
      <a class="navbar-item" href="/logging">Logging</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="#">Logout</a>
    </div>
  </div>
</nav>
